html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background: url("img/New\ Country\ Insurance\ logo_Mesa\ de\ trabajo\ 1.png")
    no-repeat center center fixed;
  background-size: 35%;
  background-position: top;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.icon {
  font-size: 28px;
  cursor: pointer;
  color: #000000;
  padding: 0 50px 0 0;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.2);
}
#menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #123a5bb8;
  box-shadow: 2px 0 5px lch(100% 0.01 296.81 / 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  transition: left 0.3s ease;
  z-index: 20;
}
#menu.open {
  left: 0;
}
#menu a {
  margin: 0;
  color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
#menu a:hover {
  background-color: #000000;
}
.welcome {
  padding-top: 350px;
  text-align: center;
  color: rgb(0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #5854545c;
  overflow: hidden;
}
section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
.welcome h1 {
  color: #123a5bb8;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.welcome h2 {
  color: #123a5bb8;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.welcome p {
  color: #123a5bb8;
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 2rem;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.button-group a {
  text-decoration: none;
  color: #ffffff;
}
.button-group button {
  padding: 0.75rem 1.5rem;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #1da3af;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-group button:hover {
  background-color: #1da3af;
  transform: translateY(-2px);
}
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 480px) {
  header .icon {
    font-size: 1.2rem;
  }

  .button-group button {
    width: 100%;
    font-size: 1rem;
  }

  .popup-container {
    padding: 1rem;
  }
}
